@import "tailwindcss";

@theme {
  --color-primary: #3bb77e;
  --color-secondary: #def9ec;
  --color-theme-gray: #adadad;
  --color-theme-white: #ffffff;
  --color-theme-black: #253d4e;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
}
